<section>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-offset-1 col-md-5">
				<h1>Schedule a Pick Up!</h1>
				<p>Address: <%= current_user.address %></p>
				<%= form_for @pickup do |f| %>

					<%= f.label :date %>
					<%= f.text_field :date, id: "datepicker" %>
					<%= f.submit "Schedule!", class: "btn p-btn" %>

				<% end %>
			</div>
		</div>
	</div>

</section>

<h4>Currently Scheduled Pickup:</h4> 
<% current_user.pickups.where(completed: false).each do | f | %>
	<%= f.date.strftime("%m/%d/%Y") %>
<% end %>

<%= form_for @pickup do |f| %>

	<%= f.label :date %>
	<%= f.text_field :date, id: "datepicker" %>
	<%= f.submit "Schedule!" %>

<% end %>

<script>

	$(document).ready(function(){
		$( "#datepicker" ).datepicker({minDate: 0, dateFormat: 'yy-mm-dd'});
	});

</script>	